<div>
	<%= linkify_date(@date-2) %>
	| <%= linkify_date(@date-1) %>
	| <%= day_of_week(@date.wday) %> <%= @date.mon %>-<%= @date.day %>-<%= @date.year %>
	| <%= linkify_date(@date+1) %>
	| <%= linkify_date(@date+2) %>
</div>




<br><br><br>

<table>
<% @projects.each_with_index do |key, i| %>
<tr>
	<td><%= key[0] %> - <%= sprintf("%2f", key[1]/60.to_f) %> hours</td>
</tr>
<% end %>
</table>
Total: <%= (@projects.inject(0) {|sum, value| sum+value[1]})/60.to_f %> hours