
<script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=true">
</script>
<script type="text/javascript">

$(function($) {
	
	function initialize() {
	
		var latlng = new google.maps.LatLng(45.532086387683606, -122.67059326171875);
		var options = {
			zoom: 14,
			center: latlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		document.map = new google.maps.Map(document.getElementById("map_canvas"), options);
		document.markers = new Array();
		document.zipcodes = new Array();
		<% count = 0 %>
		<% @zips.each do |zip| %>
			<% if zip.listing.count and zip.listing.count > 1 %>
				document.zipcodes[<%= count %>] = new ZipCode(<%= zip.zip_code %>, <%= zip.listing.count %>, <%= zip.lat %>, <%= zip.lng %>);
				<% count = count + 1 %>
			<% end %>
		<% end %>
	
		for (i = 0; i < document.zipcodes.length; i++) {
			placeMarker(document.zipcodes[i]);
		}
	}


	initialize()
})

</script>

<div id="map_canvas" style="width:100%; height:100%"></div>
